<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志输出格式和存储路径-->
    <!-- %date 表示日期，%thread 表示线程名，%-5level 表示级别从左显示5个字符宽度，
    %logger{36} 表示 logger 名字最长36个字符，%msg 表示日志消息，%n 是换行符-->
    <property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS}\t[%thread]\t%-5level %logger{36} - %msg%n"/>
    <property name="INFO_PATH" value="logs/info.%d{yyyy-MM-dd}.%i.log"/>
    <property name="WARN_ERR_PATH" value="logs/warn_err.%d{yyyy-MM-dd}.%i.log"/>

    <!--定义控制台输出-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--打印格式-->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--INFO类型文件配置-->
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INFO_PATH}</fileNamePattern>
            <maxHistory>3</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--WARN、ERROR类型文件配置-->
    <appender name="FILE_WARN_ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${WARN_ERR_PATH}</fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="snowflakeserver" level="INFO">
        <appender-ref ref="FILE_INFO"/>
        <appender-ref ref="FILE_WARN_ERR"/>
    </logger>
</configuration>